$transparent-white-light: rgba(255,255,255,0.1);
$transparent-white-medium: rgba(255,255,255,0.3);
$transparent-white-strong: rgba(255,255,255,0.5);

$white: #ffffff;
$pink: #ff2e87;
$red: #ff0033;

$responsive-break: 900px;
