@import 'reset';
@import 'variables';
@import 'form-section';


.site-body {
  color: $white;
  // background: linear-gradient(135deg, rgba(35,215,245,1) 0%,rgba(28,189,224,1) 100%); Alternative Background Gradient
  background-image: url('../img/background.png');
  background-position: top left;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: 1.2;
  letter-spacing: 0.4px
}

.site-header {
  background-color: $transparent-white-light;
  height: 100px;
  padding: 0 20px;
  width: calc(100% - 40px);

  &__logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
  }
}

.site-main {
  min-height: calc(100vh - 100px);
  overflow: auto;
  padding: 0 20px;
  width: calc(100% - 40px);
}
